* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { 
    display:block; 
    background-color: #26A69A;
}

.label{
      position: fixed;

    width: 10em;
    opacity: 0.8;
  
    color: white;
    background-color: rebeccapurple;
}

md-progress-circular {
    position: fixed;
       bottom: 41%;
    left: 24%;
}

.slider{
    margin-left: 2%;
}